[Unit]
Description=ngrok service
After=network.target

[Service]
IgnoreSIGPIPE=true
ExecStart=/opt/ngrok/ngrok start --all --config /opt/ngrok/ngrok.yml
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
Restart=always
RestartSec=3

KillMode=process

[Install]
WantedBy=multi-user.target
